<div class="notifications-page-container">
  <h1 class="notifications-page-title">Suas Notificações</h1>
  
  <% if @notifications.any? %>
    <ul id="notifications-list" class="notifications-list">
      <% @notifications.each do |notification| %>
        <%= render 'notification', notification: notification %>
      <% end %>
    </ul>
  <% else %>
    <p class="notifications-empty">Você não tem novas notificações.</p>
  <% end %>
</div>
