<!-- app/views/users/discover.html.erb -->

<h2>Descubra pessoas próximas</h2>

<div id="map" style="width: 100%; height: 500px;"></div>

<script type="module" src="<%= asset_path 'map.js' %>"></script>
