/* Reset básico */
body, div, h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #000; /* Preto */
  color: #FFD700; /* Dourado */
  min-height: 100vh;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Cabeçalho */
header {
  width: 100%;
  background-color: #111; /* Preto mais escuro */
  color: #FFD700; /* Dourado */
  padding: 20px 0;
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
}

/* Botões */
.btn {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px 5px;
  color: #000;
  background-color: #FFD700;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #333; /* Preto mais claro */
  color: #FFD700; /* Volta ao dourado */
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #fff; /* Branco ao passar o mouse */
}

/* Páginas */
.landing-page, .terms-page, .privacy-page, .profiles-page {
  padding: 50px 0;
  text-align: center;
}

.profiles-list {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.profile-item {
  background-color: #111; /* Preto mais escuro */
  padding: 20px;
  border: 1px solid #FFD700; /* Dourado */
  border-radius: 8px;
  width: 200px;
}

 @import "leaflet/dist/leaflet.css";
